* {
    font-family: "Delicious Handrawn", cursive;
    font-weight: 400;
    font-style: normal;
    color: #2C2F35
}

.form-label {
  font-size: 24px;
}
option, .form-select {
  font-size: 20px!important;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 20%;
}
h1.form-title {
  text-align: center;
  font-size: 50px;
  color:#2C525D; 
  margin-bottom: 20px;
}
.btn-mao-1{
  font-size: 24px;
  background-color: #EF8119;
  border-color: #EF8119;
  color:white;
  transition: background-color 0.3s ease; 
}
.btn-mao-1:focus-visible{
  background-color: #17A0DA;
}
.btn-mao-1:hover{
  background-color: #17A0DA;
  border-color: #17A0DA;
  transform: scale(1.1);
  color: white;
}
.card {
  border-style: dotted;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
